@model RoomRental.ViewModels.RoomsViewModel
@{
    ViewData["Title"] = "Rooms";
    string buildingNameFind = Model.FilterViewModel.BuildingNameFind;
    decimal? areaFind = Model.FilterViewModel.AreaFind;
}

<h1>Rooms</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="post">
    <label>Название здания: </label>
    <input name="BuildingNameFind" value="@buildingNameFind" />

    <label>Площадь: </label>
    <input type="number" step="any" min="0" name="AreaFind" value="@(areaFind.ToString().Replace(",", "."))" />

    <input type="hidden" name="sortOrder" value="@Model.SortViewModel.Current" />
    <input type="submit" value="Фильтр" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.BuildingNameSort)"
                   asp-route-buildingNameFind="@buildingNameFind"
                   asp-route-areaFind="@areaFind">
                    @Html.DisplayNameFor(model => model.Rooms.SingleOrDefault().Building)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.AreaSort)"
                   asp-route-buildingNameFind="@buildingNameFind"
                   asp-route-areaFind="@areaFind">
                    @Html.DisplayNameFor(model => model.Rooms.SingleOrDefault().Area)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms.SingleOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms.SingleOrDefault().RoomImages)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rooms) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Building.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img src="@item.RoomImages.First().ImagePath" class="image">
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoomId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RoomId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RoomId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<page-link page-model="Model.PageViewModel" page-action="Index"
           page-url-sortOrder="@(Model.SortViewModel.Current)"
           page-url-buildingNameFind="@buildingNameFind"
           page-url-areaFind="@areaFind"></page-link>