@model RoomRental.ViewModels.RoomsViewModel

@{
    ViewData["Title"] = "Index";
    string buildingNameFind = Model.FilterViewModel.BuildingNameFind;
    decimal? areaFind = Model.FilterViewModel.AreaFind;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rooms.SingleOrDefault().Building)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms.SingleOrDefault().Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms.SingleOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms.SingleOrDefault().Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rooms) {
            var base64Image = Convert.ToBase64String(item.Photo.FileContents);
            var imageSource = $"data:{item.Photo.ContentType};base64,{base64Image}";
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Building)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img src="@imageSource">
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoomId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RoomId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RoomId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
