@model RoomRental.ViewModels.InvoicesViewModel
@*подключаем все tag-хелперы*@
@addTagHelper *, RoomRental
@{
    ViewData["Title"] = "Invoices";
    string organizationNameFind = Model.FilterViewModel.OrganizationNameFind;
    decimal? amountFind = Model.FilterViewModel.AmountFind;
    string personFind = Model.FilterViewModel.ResponsiblePersonFind;
    DateTime? paymentDateFind = Model.FilterViewModel.PaymentDateFind;
}

<h1>Invoices</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="get">
    <label>Название организации: </label>
    <input name="organizationNameFind" value="@organizationNameFind" />

    <label>Сумма: </label>
    <input type="number" step="any" name="amountFind" value="@amountFind" />

    <label>Ответственное лицо: </label>
    <input name="personFind" value="@personFind" />

    <label>Дата платежа: </label>
    <input type="date" name="paymentDateFind" value="@paymentDateFind" />

    <input type="hidden" name="sortOrder" value="@Model.SortViewModel.Current" />
    <input type="submit" value="Фильтр" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Invoices.SingleOrDefault().RoomId)
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.OrganizationNameSort)"
                   asp-route-amountFind="@amountFind"
                   asp-route-organizationNameFind="@organizationNameFind"
                   asp-route-personFind="@personFind"
                   asp-route-paymentDateFind="@paymentDateFind">
                    @Html.DisplayNameFor(model => model.Invoices.SingleOrDefault().RentalOrganization)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.AmountSort)"
                   asp-route-amountFind="@amountFind"
                   asp-route-organizationNameFind="@organizationNameFind"
                   asp-route-personFind="@personFind"
                   asp-route-paymentDateFind="@paymentDateFind">
                    @Html.DisplayNameFor(model => model.Invoices.SingleOrDefault().Amount)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.PaymentDateSort)"
                   asp-route-amountFind="@amountFind"
                   asp-route-organizationNameFind="@organizationNameFind"
                   asp-route-personFind="@personFind"
                   asp-route-paymentDateFind="@paymentDateFind">
                    @Html.DisplayNameFor(model => model.Invoices.SingleOrDefault().PaymentDate)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.ResponsiblePersonSort)"
                   asp-route-amountFind="@amountFind"
                   asp-route-organizationNameFind="@organizationNameFind"
                   asp-route-personFind="@personFind"
                   asp-route-paymentDateFind="@paymentDateFind">
                    @Html.DisplayNameFor(model => model.Invoices.SingleOrDefault().ResponsiblePerson)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Invoices) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalOrganization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsiblePerson)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InvoiceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InvoiceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InvoiceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<page-link page-model="Model.PageViewModel" page-action="Index"
           page-url-sortOrder="@(Model.SortViewModel.Current)"
           page-url-amountFind="@amountFind"
           page-url-organizationNameFind="@organizationNameFind"
           page-url-personFind="@personFind"
           page-url-paymentDateFind="@paymentDateFind"></page-link>
