@model RoomRental.ViewModels.InvoicesViewModel

@{
    ViewData["Title"] = "Index";
    string organizationNameFind = Model.FilterViewModel.OrganizationNameFind;
    decimal? amountFind = Model.FilterViewModel.AmountFind;
    string personFind = Model.FilterViewModel.ResponsiblePersonFind;
    DateTime? paymentDateFind = Model.FilterViewModel.PaymentDateFind;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Invoices.SingleOrDefault().RoomId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoices.SingleOrDefault().RentalOrganization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoices.SingleOrDefault().Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoices.SingleOrDefault().PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoices.SingleOrDefault().ResponsiblePerson)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Invoices) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalOrganization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsiblePerson)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InvoiceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InvoiceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InvoiceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
