@model RoomRental.Models.ResponsiblePerson

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>Оформляющий</h1>

    <div class="det-container">
        <div>
            <label>@Html.DisplayNameFor(model => model.Surname):</label>
            @Html.DisplayFor(model => model.Surname)
        </div>
        <div>
            <label>@Html.DisplayNameFor(model => model.Name):</label>
            @Html.DisplayFor(model => model.Name)
        </div>
        <div>
            <label>@Html.DisplayNameFor(model => model.Lastname):</label>
            @Html.DisplayFor(model => model.Lastname)
        </div>
    </div>
    <div class="det-container">
        <a class="btn-primary btn" asp-action="Edit" asp-route-id="@Model?.PersonId">Изменить</a> |
        <a class="btn-primary btn" asp-action="Index">Возврат к списку</a>
    </div>
</div>

@* <h1>Details</h1>

<div>
    <h4>ResponsiblePerson</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PersonId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div> *@
