@model RoomRental.ViewModels.RentalsViewModel
@inject RoomRental.Services.RoomService roomCache

@{
    ViewData["Title"] = "Rentals";

    var rooms = await roomCache.GetAll();

    string organizationNameFind = Model.FilterViewModel.OrganizationNameFind;
    DateTime? checkInDateStartFind = Model.FilterViewModel.CheckInDateStartFind;
    DateTime? checkInDateEndFind = Model.FilterViewModel.CheckInDateEndFind;
    DateTime? checkOutDateStartFind = Model.FilterViewModel.CheckOutDateStartFind;
    DateTime? checkOutDateEndFind = Model.FilterViewModel.CheckOutDateEndFind;
    int? BuildingIdFind = Model.FilterViewModel.BuildingIdFind;
}


<div class="index-container">
    <div class="form-container">
        <div class="tabs">
            <h3>Фильтрация</h3>
            <div><a asp-action="Create">Создать</a></div>
        </div>
        <div class="form-container_two">
            <form method="post">
                <input class="filter-input" name="OrganizationNameFind" value="@organizationNameFind"  placeholder="Название организации"/>

                <select class="filter-input" name="BuildingIdFind" asp-items="ViewBag.BuildingId"></select>

                <input class="filter-input" type="date" name="CheckInDateStartFind" value="@checkInDateStartFind?.ToString("yyyy-MM-dd")" placeholder="Дата въезда" />
                <input class="filter-input" type="date" name="CheckInDateEndFind" value="@checkInDateEndFind?.ToString("yyyy-MM-dd")" placeholder="Дата въезда" />

                <input class="filter-input" type="date" name="CheckOutDateStartFind" value="@checkOutDateStartFind?.ToString("yyyy-MM-dd")" placeholder="Дата выезда" />
                <input class="filter-input" type="date" name="CheckOutDateEndFind" value="@checkOutDateEndFind?.ToString("yyyy-MM-dd")" placeholder="Дата выезда" />

                <input class="filter-input" type="hidden" name="sortOrder" value="@Model.SortViewModel.Current" />
                <input class="submitButton-index" type="submit" value="Искать" />
            </form>
        </div>
    </div>

    <div class="table-container">
        <h1>Аренды</h1>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th class="element">
                            @Html.DisplayNameFor(model => model.Rentals.SingleOrDefault().RoomId)
                        </th>
                        <th class="element">
                            <a asp-action="Index"
                               asp-route-sortOrder="@(Model.SortViewModel.OrganizationNameSort)"
                               asp-route-organizationNameFind="@organizationNameFind"
                               asp-route-checkInDateStartFind="@checkInDateStartFind"
                               asp-route-checkInDateEndFind="@checkInDateEndFind"
                               asp-route-checkOutDateStartFind="@checkOutDateStartFind"
                               asp-route-checkOutDateEndFind="@checkOutDateEndFind">
                                @Html.DisplayNameFor(model => model.Rentals.SingleOrDefault().RentalOrganization)
                            </a>
                        </th>
                        <th class="element">
                            <a asp-action="Index"
                               asp-route-sortOrder="@(Model.SortViewModel.CheckInDateSort)"
                               asp-route-organizationNameFind="@organizationNameFind"
                               asp-route-checkInDateStartFind="@checkInDateStartFind"
                               asp-route-checkInDateEndFind="@checkInDateEndFind"
                               asp-route-checkOutDateStartFind="@checkOutDateStartFind"
                               asp-route-checkOutDateEndFind="@checkOutDateEndFind">
                                @Html.DisplayNameFor(model => model.Rentals.SingleOrDefault().CheckInDate)
                            </a>
                        </th>
                        <th class="element">
                            <a asp-action="Index"
                               asp-route-sortOrder="@(Model.SortViewModel.CheckOutDateSort)"
                               asp-route-organizationNameFind="@organizationNameFind"
                               asp-route-checkInDateStartFind="@checkInDateStartFind"
                               asp-route-checkInDateEndFind="@checkInDateEndFind"
                               asp-route-checkOutDateStartFind="@checkOutDateStartFind"
                               asp-route-checkOutDateEndFind="@checkOutDateEndFind">
                                @Html.DisplayNameFor(model => model.Rentals.SingleOrDefault().CheckOutDate)
                            </a>
                        </th>
                        <th class="element"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Rentals)
                    {
                        <tr class="row" onclick="location.href='@Url.Action("Details", "Rentals", new { id = item.RentalId })'">
                            <td class="element">
                                @(rooms.Single(e => e.RoomId == item.RoomId).Building.Name),<br /> № @(item.Room.RoomNumber)
                            </td>
                            <td class="element">
                                <a asp-controller="Organizations" asp-action="Details" asp-route-id="@item.RentalOrganizationId" >@Html.DisplayFor(modelItem => item.RentalOrganization.Name) </a>
                            </td>
                            <td class="element">
                                @Html.DisplayFor(modelItem => item.CheckInDate)
                            </td>
                            <td class="element">
                                @Html.DisplayFor(modelItem => item.CheckOutDate)
                            </td> 
                            <td class="element">
                                <a class="btn-primary btn" asp-action="Edit" asp-route-id="@item.RentalId">Изменить</a> |
                                @* <a class="btn-secondary btn" asp-action="Details" asp-route-id="@item.RentalId">Подробнее</a> | *@
                                <a class="btn-danger btn" asp-action="Delete" asp-route-id="@item.RentalId">Удалить</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <page-link page-model="Model.PageViewModel" page-action="Index"
                   page-url-sortOrder="@(Model.SortViewModel.Current)"
                   page-url-organizationNameFind="@organizationNameFind"
                   page-url-checkInDateStartFind="@checkInDateStartFind"
                   page-url-checkInDateEndFind="@checkInDateEndFind"
                   page-url-checkOutDateStartFind="@checkOutDateStartFind"
                   page-url-checkOutDateEndFind="@checkOutDateEndFind"></page-link>
    </div>
</div>
@* 
<h1>Rentals</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<form method="post">
    <label>Название организации: </label>
    <input name="OrganizationNameFind" value="@organizationNameFind" />

    <label>Дата заезда: </label>
    <input type="date" name="CheckInDateFind" value="@checkInDateFind?.ToString("yyyy-MM-dd")" />

    <label>Дата выезда: </label>
    <input type="date" name="CheckOutDateFind" value="@checkOutDateFind?.ToString("yyyy-MM-dd")" />

    <input type="hidden" name="sortOrder" value="@Model.SortViewModel.Current" />
    <input type="submit" value="Фильтр" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rentals.SingleOrDefault().RoomId)
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.OrganizationNameSort)"
                   asp-route-organizationNameFind="@organizationNameFind"
                   asp-route-checkInDateFind="@checkInDateFind"
                   asp-route-checkOutDateFind="@checkOutDateFind">
                    @Html.DisplayNameFor(model => model.Rentals.SingleOrDefault().RentalOrganization)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.CheckInDateSort)"
                   asp-route-organizationNameFind="@organizationNameFind"
                   asp-route-checkInDateFind="@checkInDateFind"
                   asp-route-checkOutDateFind="@checkOutDateFind">
                    @Html.DisplayNameFor(model => model.Rentals.SingleOrDefault().CheckInDate)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.CheckOutDateSort)"
                   asp-route-organizationNameFind="@organizationNameFind"
                   asp-route-checkInDateFind="@checkInDateFind"
                   asp-route-checkOutDateFind="@checkOutDateFind">
                    @Html.DisplayNameFor(model => model.Rentals.SingleOrDefault().CheckOutDate)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rentals) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Room.Building.Name), №@Html.DisplayFor(modelItem => item.Room.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalOrganization.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOutDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RentalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RentalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RentalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<page-link page-model="Model.PageViewModel" page-action="Index"
           page-url-sortOrder="@(Model.SortViewModel.Current)"
           page-url-organizationNameFind="@organizationNameFind"
           page-url-checkInDateFind="@checkInDateFind"
           page-url-checkOutDateFind="@checkOutDateFind"></page-link> *@
